.feed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.title {
  font-size: 2.8rem;
  padding-bottom: 0.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-block: 1rem;
  font-size: 1.5rem;
}
