.asteroid {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2rem;
  padding: 1rem;
}

.title {
  font-size: 2rem;
}

.info {
  display: flex;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  flex-direction: row;
  justify-content: left;
  gap: 1rem;
  align-items: left;
}

.inCart {
  color: white;
}

.distance {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 0.4rem;
}

.distance p {
  white-space: nowrap;
  font-size: 1.3rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.8rem;
}

.footer p {
  font-size: 1.1rem;
}

.footer button {
  border: none;
  outline: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  color: orange;
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1rem;
  background-color: #f8660026;
  transition: all 0.3s ease;
}

.footer button:hover {
  color: white;
  background-color: orangered;
}

.specs {
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
}

.specs h2 {
  text-decoration: underline;
  transition: all 0.3s ease;
}

.specs h2:hover {
  color: orange;
}

.arrow {
  width: 100%;
}

@media screen and (min-width: 1880px) {
  .specs {
    font-size: 0.9rem;
  }
}
